<h1>Rails Blog</h1>

<% for i in 0...@posts.length %>
    <div class="posts">
    <a href="/post">
     <h5><%= @posts[i].title %></h5>
     <p><%= @posts[i].body %></p>
     </a>
     </div>
<% end %>