// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article {
	height: 100px;
	width: 300px;
	background: linear-gradient(rgba(228,228,228,1), rgba(93,0,1,1));
	margin:0 5px 20px 5px;
	border-radius: 5%;
	padding: 20px;
	height: 150px;
	text-align: center;
	h5{
	color: white;
	text-shadow: 1px 1px black;
	margin: 20px;
	}
}
