// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userpage {
	background: linear-gradient(rgba(62,0,0,1), rgba(200,0,2,.3));
	color: white;
	margin: 20px auto 200px auto;
	text-align: center;
	padding: 50px;
	display: block;
	h2 {
		padding: 20px;
		margin-bottom: 0;
	}
	article {
		box-shadow: 5px 5px 5px #000;
		background-color: rgba(62,0,0,1);
		h5, p {
			color: rgba(216,216,216,1);
		}
	}
}


